
.container{
  width: 100%;
  
}

main{
  width: 90%;
  margin:0  auto;
}

/* SECCION BANNER + TITULO */
.banner{
  width: 100%;
 
}
.banner img{
  width: 80%;
  padding: 0px 10%;
  opacity: 0.75;
  
  
}
.nombre-artista{
  width: 100%;
 
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  height: 50px;
  font-size: larger;
  font-weight: bold;
  
}

/* SECCION BARRA INFORMACION */
.barra-informacion{
  width: 100%;
  background-color: rgba(43, 44, 43,0.4);
  border-radius: 50px;
  
  
}
.informacion-artista{
  display: flex;
  justify-content: space-around;
  
  
  
}
.informacion-artista a{
 text-decoration: none;
 color: white;
  
}
.informacion-artista li{
  list-style: none;
  text-transform: capitalize;
} 

/* SECCION CONTENIDO */
.container-contenido-artista{
display: flex;
width: 100%;
justify-content: space-between;
padding: 10px;
box-sizing: border-box;
background-color: rgb(43, 44, 43,0.4);
}


/* SECCION CANCIONES */
.topcanciones-titulo h3{
  color: white;
  margin-left: 10%;
}
.topcanciones-titulo a{
  text-decoration: none;
}


.container-contenido-artista .top-canciones{
  width: 55%;
  display: flex;
  flex-direction: column;  
}


.container-contenido-artista .top-canciones ul{
height: 90%;
margin-top: 0;
}


.container-contenido-artista .top-canciones li{
  background-color: rgb(54, 51, 51);

  height: 15%;
  list-style: none;
  margin: 3%;
  border-radius: 40px;
  
}




/* SECCION ALBUMES */
.container-contenido-artista .top-albumes{
  width: 40%;
  margin-right: 3%;
 
}
.topalbumes-titulo{
  margin-top: 5%;
  
}
.topalbumes-titulo a{
  text-decoration: none;
}
.topalbumes-titulo h3{
  color: white;
  margin-left: 8%;
  
}


.container-contenido-artista .top-albumes .lista-albumes{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
  
}


.container-contenido-artista .top-albumes .lista-albumes a{
width: 48%;
margin-bottom: 3%;
text-decoration: none;
}


.container-contenido-artista .top-albumes .album{
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.fa-play-circle-o{
  position: absolute;
  top: 33%;
  left: 38%;
  color: white;
  transition: .1s ease;
  opacity: 0.4;
  
}


.lista-albumes :hover {
  font-weight: inherit;
  

}


.container-contenido-artista .top-albumes .album h5{
  margin: 5px;
  color: white;
  text-transform: uppercase;
  
}


.container-contenido-artista .top-albumes .album img{
  width: 95%;
  
}
.container-contenido-artista .top-albumes .lista-albumes a :hover img {
  transition: .1s ease;
  opacity: 0.2;
}

/* Informacion del Artista. Con java apareceria en el lugar de General cuando se
apriete en "Informacion del Artista"*/

.mas-sobre-el-artista{
  background-color: rgb(43, 44, 43,0.4);
  color: white;
  padding: 3% 5%;
  box-sizing: border-box;
  margin-top: 3%;

}
.mas-sobre-el-artista a{
  text-decoration: none;
  color: white;
  
}