footer a{
    display: flex;

}
.imgdeezer {
    width: 15%;
    margin-left: 4%;
}

.imgdeezer:hover {
border-radius:50%;
box-shadow: 0px 0px 15px 15px #6b04f1;
transform: rotateY(360deg);
transition: 1s ease;
}

.nombresa {
    color: aliceblue;
    margin-left: 5%;
}

.nombresa:hover {
   color: royalblue;
   font-size: large;
   font-family: fantasy;
}


.nombresm {
    color: aliceblue;
    margin-left: 5%;
}

.nombresm:hover {
    color: royalblue;
    font-size: large;
    font-family: fantasy;
 }

.nombresmp {
    color: aliceblue;
    margin-left: 5%;
}

.nombresmp:hover {
    color: royalblue;
    font-size: large;
    font-family: fantasy;
 }