*{

}

html {
    background-color: rgb(36, 35, 35);
}
.contenedorprincipal {
    margin: 0 auto;
   
}   

h1 {
  color: white;
  
}
a  {
text-decoration: none;
color: white;
}

.contenedorarticle {
    display:grid;
    width: 90%;
    grid-template-columns: 33%;
    margin: 0 auto;
    border-radius: 1px solid aqua;
    


}

.imggeneros {
width: 25%;
border-radius: 50%;
}
h1.titulo-genero{



}
.titulo-genero{
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
    text-decoration: none;
    color: white; 
    
}

.img-generos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    margin: 0;
    text-decoration: none white; 
    
}

.img-generos li {
    width: 15%;
    
}
.img-generos li a img {
    width: 100%;
    border-radius: 200px 200px 200px 200px;  
      
}
.imgdeezer {
    width: 15%;
    margin-left: 4%;
}

.imgdeezer:hover {
border-radius:50%;
box-shadow: 0px 0px 15px 15px #6b04f1;
transform: rotateY(360deg);
transition: 1s ease;
}

.nombresig {
 width: 15%; 
}

.nombresa {
    color: aliceblue;
    margin-left: 5%;
}

.nombresa:hover {
   color: royalblue;
   font-size: large;
   font-family: fantasy;
}

.nombresm {
    color: aliceblue;
    margin-left: 5%;
}

.nombresm:hover {
    color: royalblue;
    font-size: large;
    font-family: fantasy;
 }

.nombresmp {
    color: aliceblue;
    margin-left: 5%;
}

.nombresmp:hover {
    color: royalblue;
    font-size: large;
    font-family: fantasy;
 }

 .slider {
     width: 50%;
     margin: auto;
     overflow: hidden;
 }

 .slider ul {
     display: flex;
     padding: 0; 
     width: 400%;
     animation: cambio 20s infinite;

 }

 .slider li {
     width: 100%;
     list-style: none;
 }

 .slider img {
     width: 100%;
 }

   @keyframes cambio {
     0% {margin-left: 0;}
     20% {margin-left: 0;}
     
     25% {margin-left: -100%;}
     45% {margin-left: -100%;}

     50% {margin-left: -200%;}
     70% {margin-left: -200%;}

     75% {margin-left: -300%;}
     100% {margin-left: -300%;}

 }


footer{
    display:flex;
    position: relative;
    

}