

.header-container{
    background-color: rgba(30, 30, 30, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3%;
    width: 92%;
    /* padding: 1% 1% 1% 1%; */
    height: fit-content;
    border-radius: 15px;
    box-sizing: border-box;
    


}
/* .header-container{
    position:fixed;
} */
.logo{
    margin: 1% 1% 1% 3%;
    width: 10%;
    /* position: fixed; */
    
    }
.logo a {
    width: 100%;
    height: fit-content;
    margin: auto;
}
.logo a img{
    width: 100%;
    margin: auto;
}
.nombre{
    margin: auto;
    margin-top: 2%;
    width: fit-content;
    
}
.nombre a{
    text-decoration: none;
    color: rgb(19, 195, 134);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    margin: auto;
    font-family: serif;
    font-weight: bold;
    


}
.opciones{
    
    width: 70%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;  
    font-size: x-large;
    margin: auto;
      
}
.opciones .header{
    width: 7%;
}
.opciones a{
    color: rgba(199, 226, 226);
    text-decoration: none;
}
.opciones .generos{
    order:1;
}
.opciones .albumes{
    order:2;
}
.opciones .artistas{
    order:3;
}
.opciones .tracks{
    order:4;
}
.opciones .podcast{
    order:5;
}
.opciones .search{
    order:6;
}

form{
    width: 90%;
}
.search{
    display: flex;
    width: 50%;
}
.search i{
    color: rgba(199, 226, 226);
    height: fit-content;
    margin-right: auto;
    margin-top: 5%;
    width: 5%;
}
.search input{
    height: 90%;
    width: 100%;
    background-color:  rgba(126, 124, 124,0.1);
    border-radius: 30px;
    border: solid 2px rgba(199, 226, 226);
    color: white;
}



.mi-perfil{
    margin-top: 3%;
    margin-right: 2%;
    
    
}
.mi-perfil a{
    width: 100%
  

}
.search{
    width: 20%;
}

.mi-perfil i{
    color: rgba(199, 226, 226);
   
}

@media (max-width:460px){
    #header{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .logo .nombre{
        display: none;

    }
    .logo a{
        width: 100%;
    }
    .logo a img{
        width: 100%;
    }
    .opciones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: medium;
        /* justify-content: center; */
    }
    .opciones .header{
        justify-content: center;
        width: 40%;
        font-size: small;
        margin: auto;
        margin-top: 2%;
    }
    /* .opciones .header a{
        margin: auto;
    } */
    .opciones .search{
        width: 45%;
        margin-top: 2%;

    }
    /* .opciones .search i{
        display: none;
    } */
    .opciones input{
        width: 60%;
        height: 68%;

    
        
    }
    .mi-perfil{
        width: 10%;
    }
    .mi-perfil i{
        font-size:large;
        margin: auto;
    }

  

   

}