

.main-header{
    background-color: rgb(36, 35, 35);
}

.header-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    
}
.logo{
    margin-top: 27px;
    margin-right: 50px;
    margin-left: 50px;

}
.opciones{
    width: 300px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 27px;    
}
}
.mi-perfil{
   margin-top: 20px;
   margin-right: 50px;
    

}
.mi-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em;
    height: 30px;
    margin-top: 20px;
    border: solid white 1.5px;
    border-radius: 100px;
    margin-right: 20px;
}
.mi-perfil a{
    width: 30px;
    padding: 10px;
    padding-top: 0;

}
.mi-perfil p{
    margin: 0;
    color: white;
    width: 80px;
    padding: 0;
    margin-left:12px ;
    margin-top: 7px;
}
.mi-perfil i{
    color: white;
    margin-top: 7px;
}
