body{
    margin: 0;
    background-color: rgb(54, 51, 51);
  }
  
  
  .top-listas{
    padding: 50px;
    
  }
  h3 a{
  
    color:rgb(200, 200, 200);
    text-decoration: none;
    
    
  }
  
  .listatop{
    height: 310px;
    background-color: rgba(30, 30, 30, 0.4);
    margin: 10px 20px;
    border-radius: 45px;
    padding: 20px;
    box-sizing: border-box;
    
    
  }
  
  
  .listatop ul{
    display: flex;
    justify-content: space-between;
    height: 90%;
    
    
    
  }
  
  .listatop ul li {
    
    
    width: 16%;
    height: fit-content;
    margin: 0px;
    border-radius: 100%;
    list-style: none;
    
    
  
    
    
  
  }
  .listatop ul li a img{
    width: 100%;
    border-radius: 100px;
  
  }
  
  .listatop ul li a {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
   
    
  }
  .listatop ul li a h5{
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    
  }
  .listatop ul li a h6{
    color: rgba(228, 217, 217, 0.3);
    margin: 0px;
  }
