body{
  margin: 0;
  /* background-color: rgb(54, 51, 51);
  background-color: rgb(20, 38, 41); */
  background-color: rgb(9, 17, 19);
}


.top-listas{
  padding: 50px;
  
}
.explora{
  margin:auto;
  text-transform: capitalize;
  width: 80;
  margin-bottom: 2%;
  font-size: x-large;
}
.explora h3{
  margin:auto;
  width: fit-content;
}
.explora h3 a{

  /* color: rgba(199, 226, 226); */
  /* color: rgb(161, 202, 202); */
  color: rgba(199, 226, 226);
  text-decoration: none;
  
  
  
}
.volver{
  font-size: medium;
  color: rgba(199, 226, 226);
  text-decoration: none;
  
}
.volverMenu{
  margin: auto;
  height: fit-content;
}
.volverMenu h4{
  width: fit-content;
  /* margin-top: auto; */
  margin: auto;
  
}
.volver a{
  margin:auto;
}


.volverMobile{
  font-size: medium;
  color: rgba(199, 226, 226);
  text-decoration: none;
  
}
.volverMenuMobile{
  margin: auto;
  height: fit-content;
}
.volverMenuMobile h4{
  width: fit-content;
  /* margin-top: auto; */
  margin: auto;
  
}
.volverMobile a{
  margin:auto;
}

.listatop{
  /* height: 310px; */
  background-color: rgba(30, 30, 30, 0.4);
  margin: 10px 20px;
  border-radius: 15px ; 
  padding: 20px;
  box-sizing: border-box;
  
  
  
}




.listatop ul{
  display: flex;
  justify-content: space-between;
  /* height: 90%; */
  flex-wrap: wrap;

  
  
  
}

.listatop ul li {
  
  
  width: 18%;
  height: fit-content;
  margin: 0px;
  list-style: none;
  position: relative;
  margin-bottom: 3%;

  

  
  

}

.listatop ul li :hover img{
  opacity: 0.4;
  transition: 0.1s ease;
}
.primera img{
  width: 100%;
  /* border-radius: 100%; */
  /* tener como opcion sin border radius. las imagenes cuadradas */
  border:rgb(16, 33, 37) solid .2rem ;
}
.segunda  img{
  width: 100%;
  border-radius: 100%;
  /* tener como opcion sin border radius. las imagenes cuadradas */
  border:rgb(16, 33, 37) solid .2rem ;
}
.tercera img{
  width: 100%;
  border-radius: 100%;
  /* tener como opcion sin border radius. las imagenes cuadradas */
  border:rgb(16, 33, 37) solid .2rem ;
}

/* .listatop .artista{
border-radius: 100%;
} */

.listatop ul li a {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  
  
}
.listatop ul li a h5{
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: medium;
  
}
.listatop ul li a h6{
  /* color: rgba(136, 255, 187, 0.3); */
  /* color: rgb(174, 227, 233); */
  /* color: rgb(255, 255, 255, 0.5); */
  color: rgba(199, 226, 226);
  margin: 0px;
  font-size: small;
}

.fa-play-circle-o{
  position: absolute;
  color: rgb(131, 123, 123);
  transition: .1s ease;
  opacity: 0.4;
  top: 30%;
  left: 36%;

}


.headerMobile{
  display: none;
}
.mobile-home{
  display: none;
}

.volverMenuMobile{
  display: none;
}

@media (max-width:460px){
/* ARRANCA HEADER  */
  #header{
    display: none;
  }
  .headerMobile{
    display: block;
    background-color: rgba(30, 30, 30, 0.4);
    display:flex;
    height: 3rem;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
  }
  header .opciones{
    width: 70%;
  }
  header .search{
    box-sizing: border-box;
    width: 90%;
    margin: auto;
  
  }
  header .search span{
    width: 100%;
  }
  header .search input{
    width: 80%;
  }
  
  header .logo{
    margin: 1%;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
  }
  header .mi-perfil{
    width: 15%;
    margin: 1%;
    margin-top: auto;
    margin-bottom: auto;
  }
/* ////TERMINA HEADER  

ARRANCA MOBILE HOMBE CATEGORIAS */

.mobile-home{
  display: block;
}
#exploraMobile a{
  width: fit-content;
  text-decoration: none;
  color: rgba(199, 226, 226);
  
}
#exploraMobile{
  width: fit-content;
  margin: auto;
  text-transform: capitalize;
  margin-top: 8%;
  margin-bottom: 10%;
  font-size:larger;

}

.categoriasMobile{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(30, 30, 30, 0.4);
  width: 80%;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 15%;
  padding-left: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  


}
.categoria{
  width: 33%;
  list-style:none;
  margin-top: 4%;
  margin-bottom: 4%;
}

.categoria h5{
  margin: auto;
  text-transform: capitalize;
  margin: auto;
  width: fit-content;
}
.categoria a{
  text-decoration: none;
  color: rgb(202, 238, 238);
  width: fit-content;
  margin: auto;
}



/* TERMINA MOIBLE HOME CATEGORIAS 

ARRANCA MOBILE HOME LISTATOP*/
.top-listas{
  width: 95%;
  padding: 0;
  margin: auto;
}


.explora{
        font-size: small;
        margin-bottom: 5%;
        font-size: large;
    }
    .listatop{
        padding: 4%;
        width: 100%;
        margin: auto;
    }
    .listatop ul{
        padding: 0;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 99%;

    }
main .listatop li{
        width: 30%;
        margin-bottom: 9%;
        
    }

main .listatop li img{
    border:rgb(22, 43, 48) solid .2rem ;
    }

main .primera li .nombre-album{
margin-bottom: 2%;
font-size: small;
    }

main .primera li .nombre-artista{
      font-size: x-small;
    }

main .segunda li .nombre-artista{
      margin-bottom: 2%;
      font-size: small;
          }
 main .tercera li .nombre-track{
      margin-bottom: 2%;
      font-size: small;
        }    
 main .primera li .nombre-track{
          font-size: x-small;
        }            
main .volverMenu{
  margin: auto;
}
main .volverMenu h4{
  width: fit-content;
  margin: auto;
}
main .volverMenu h4 a{
  margin: auto;
}

main .tercera{
  margin-bottom: 5%;
}
    
.volver{
  display: none;
}
.volverMenuMobile{
  display: block;
}

/* TERMINA LISTATOP HOME MOBILE */










} 
