*{
    box-sizing: border-box;
}
body{
    background-color:rgb(9, 17, 19) ;
}
div.container{
    display: flex;
    flex-direction: column;
}

h1.titulo{
    color: white;
    font-size: 45px;
    text-align: center;

}

.contenido{ /*este es el padre del contenido*/
    width: 90%;
    background-color: rgba(30, 30, 30, 0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 3%;
    justify-content: space-evenly;
    border-radius: 100px;
    margin-bottom: 5%;
    
    
    
    
}

.contenido .artistas{
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    
}
.contenido .artistas .link-img-artista{
    text-decoration: none;
    width: 80%;
}
.contenido .artistas .link-h3-artista{
    text-decoration: none;
    width: fit-content;
}
.contenido .artistas h3{
    color:rgba(199, 226, 226);
    text-decoration: none;
    

}


.contenido .artistas img{/*me quedaron las img obaladas*/
    border-radius: 100%;
    width:100%
}
/*rgba(199, 226, 226) color del h3*/