body{
  margin: 0;
  background-color: rgb(54, 51, 51);
  background-color: rgb(20, 38, 41);
  background-color: rgb(9, 17, 19);
}
* .main-search
.titulo-descriptor{
  width: fit-content;
  margin: auto;
  margin-bottom: 1%;
  color: rgba(199, 226, 226);
  margin-top: 5%;
  font-size: xx-large;
}
.artistas-search{
  background-color: rgba(30, 30, 30, 0.4);
  width: 65%;
  margin: auto;
  padding: 1%;
  /* margin-top: 5%; */
  
}
.resultado-artistas{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

}

.informacion-artista{
  width: 25%;
  margin: auto;
  list-style: none;
  
}

.informacion-artista h2 a{
  text-decoration: none;
  color: white;
  
}
.informacion-artista p{
  width: fit-content;
  margin: auto;
  margin-top: 4%;
}
.informacion-artista h2{
  width: fit-content;
  margin: auto;
  margin-top: 4%;
  font-size: medium;
}
.nombre-artista{
  color: white;
  margin: auto;
  width: fit-content;
  font-size: small;
  margin-top: 4%;
  
}
.imagen-artista{
  width: 80%;
  margin:auto;
}
.imagen-artista img{
  border-radius: 100%;
  width: 100%;
}

.informacion-artista .imagen-artista :hover img{
  opacity: 0.4;
  transition: 0.1s ease;
}

.informacion-artista .nombre-artista :hover a{
  text-decoration: underline;
}




/* TRACKS */
.tracks-search{
  background-color: rgba(30, 30, 30, 0.4);
  width: 85%;
  margin: auto;
  padding: 1%;
  /* margin-top: 5%; */
  
}
.resultado-tracks{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  
}

.informacion-track{
  width: 24%;
  margin: auto;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
}
.informacion-track a{
  color: white;
  text-decoration: none;
}
.informacion-track .imagen-artista{
width: 55%;
margin-bottom: 5%;
}
.informacion-track .informacion{
  width: 100%;
  margin: auto;
}
.informacion-track .informacion h2{
  width: fit-content;
  margin:auto;
  font-size: medium;
  /* margin-top: 8%; */
}
.informacion-track .informacion .titulo-artista{
  width:fit-content;
  margin: auto;
  font-size: small;
  
  margin-top: 10%;
}
.informacion-track .informacion .titulo-album{
  width:fit-content;
  margin: auto;
  font-size: small;

}
.informacion-track .informacion :hover a{
  text-decoration: underline;
  
}
.informacion-track .informacion :hover a{
  text-decoration: underline;
  
}
.informacion-track .imagen-artista :hover img{
  opacity: 0.4;
  transition: 0.1s ease;
  
}
/* ALBUMES */
.albumes-search{
  background-color: rgba(30, 30, 30, 0.4);
  width: 65%;
  margin: auto;
  padding: 1%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  
}
.resultado-albumes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin:auto;

}

.informacion-album{
  width: 20%;
  margin: auto;
  list-style: none;
  margin-top: 2%;
  color: white;

}
.informacion-album a{
  color: white;
  text-decoration: none;
}
.informacion-album img{
  width: 100%;
}

.informacion-album .informacion{
  width: fit-content;
  margin: auto;
  margin-top: 8%;
}

.informacion-album .informacion h2{
  width: fit-content;
  margin: auto;
  font-size: medium;
}
.informacion-album .informacion h5{
  width: fit-content;
  margin: auto;
  margin-top: auto;
  font-size: small;
  margin-top: 15%;
}
.informacion-album .imagen-album :hover img{
  opacity: 0.4;
  transition: 0.1s ease;
}

.informacion-album .informacion :hover a{
  text-decoration: underline;
}


/* SIN RESULTADO */

#informacion-sin-resultado{  
width: fit-content;
list-style:none;
margin: auto;


}

.sin-resultado{
width: 100%;
color: white;
font-size: large;
}

@media (max-width:460px){


  .informacion-artista{
    width: 45%;
    margin: auto;
    list-style: none;
    margin-bottom: 7%;
    margin-top: 7%;
    
  }

  
  .informacion-track{
    width: 44%;
    margin: auto;
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
  }
  .informacion-album{
    width: 40%;
    margin: auto;
    list-style: none;
    margin-top: 2%;
    color: white;
  
  }


}